*{
margin:0;
padding:0;
box-sizing:border-box;
}

*::selection{
    background: none;
}

body{
    min-height: 100vh;
    height: 100vh;
    background:#1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.square:hover{
    background: rgb(83, 83, 255);
    color: white;
}
.square:active{
    background: dodgerblue;
    color: white;
}
.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: dodgerblue;
}
.status{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(29, 221, 255);
    display: inline-block;
    padding: 10px;
    border-radius: 28px 10px;
    color:black;
}